<template>
  <div class="weather-display">
    <div v-if="invalidLocation">
      <div class="invalid-location">
        <h1 class="title">The city could not be found.</h1>
        <hr />
        <p class="subtitle">Please provide a valid city name as well as the country code as specified by
          <a href="http://data.okfn.org/data/core/country-list" target="_blank">ISO 3166</a>
        </p>
      </div>
    </div>
    <div v-else>
      <p id="wd-country">Country: {{ country }}</p>
      <p id="wd-city">City: {{ city }}</p>
      <p id="wd-temp">Temp: {{ temp }}</p>
      <p id="wd-humidity">Humidity: {{ humidity }}</p>
      <p id="wd-wind-speed">Wind Speed: {{ windSpeed }}</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'weather-display',
  data: function () {
    return {
      country: '',
      city: '',
      temp: '',
      humidity: '',
      windSpeed: '',
      invalidLocation: false
    }
  },
  computed: {
    location: function () {
      return this.$store.state.location
    },
    gps: function () {
      return this.$store.state.gps
    }
  },
  watch: {
    location: {
      handler (location) {
        const queryString = `q=${location.city},${location.country}`

        this.getWeather(queryString)
      },
      deep: true
    },
    gps: {
      handler (gps) {
        const queryString = `lon=${gps[0]}&lat=${gps[1]}`

        this.getWeather(queryString)
      },
      deep: true
    }
  },
  methods: {
    getWeather (queryString) {
      var self = this
      const url = this.getUrl(queryString)

      axios.get(url).then(function (response) {
        self.invalidLocation = false
        var json = response.data

        self.country = json.sys.country
        self.city = json.name
        self.temp = json.main.temp
        self.humidity = json.main.humidity
        self.windSpeed = json.wind.speed
      }).catch(function () {
        self.invalidLocation = true
      })
    },
    getUrl (queryString) {
      const apiKey = process.env.API_KEY
      const endPoint = process.env.API_ENDPOINT

      return `${endPoint}?${queryString}&APPID=${apiKey}`
    }
  },
  mounted () {
    const queryString = `q=${this.$store.state.location.city},${this.$store.state.location.country}`

    this.getWeather(queryString)
  }
}
</script>

<style>
</style>
