<template>
  <div class="weather-form">
    <h2 class="title">Enter Your Location</h2>
    <p>
      Please provide a valid city name as well as the country code as specified by
      <a href="http://data.okfn.org/data/core/country-list" target="_blank">iso 3166</a>
    </p>

    <hr/>

    <div class="field country">
      <label class="label">Country</label>
      <div class="control">
        <input v-model="country" class="input" type="text" />
      </div>
    </div>

    <div class="field city">
      <label class="label">City</label>
      <div class="control">
        <input v-model="city" class="input" type="text" />
      </div>
    </div>

    <div class="field">
      <div class="control is-pulled-left">
        <button id="get-location" class="button is-primary" v-on:click="setLocation()">Get Weather!</button>
      </div>
      <div class="control is-pulled-right">
        <button class="button is-light" v-on:click="getRandomLocation()">Get Random Location</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'weather-form',
  methods: {
    setLocation () {
      this.$store.commit('updateLocation', { country: this.country, city: this.city })
    },
    getRandomLocation () {
      // random choordinates in europe area
      const lon = this.getRamdomCoordinates(0, 10)
      const lat = this.getRamdomCoordinates(40, 55)

      this.$store.commit('updateGps', [lon, lat])
    },
    getRamdomCoordinates (from, to) {
      return Math.random() * (to - from) + from
    }
  },
  data: function () {
    return {
      country: this.$store.state.location.country,
      city: this.$store.state.location.city
    }
  }
}
</script>

<style>
</style>
