<template>
  <div id="app">
    <section class="section hero is-info bsa">
      <div class="container">
        <h1 class="title">Coding Challenge</h1>
        <div class="content">
          <p class="subtitle">By Kristian Hildebrandt, powered by <a href="https://vuejs.org" target="_blank">Vue.js</a> </p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <weather-form />
          </div>
          <div class="column">
            <weather-display />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import WeatherDisplay from './components/WeatherDisplay'
import WeatherForm from './components/WeatherForm'

export default {
  name: 'app',
  components: {
    WeatherDisplay,
    WeatherForm
  }
}
</script>

<style>
  @import 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css'
</style>
